<!-- TODO: Create a PageComponent -->
<!-- TODO: Create a skeleton for loading  -->
<!-- TODO: Create an error component -->
<!-- TODO: Create an empty page component -->
<!-- TODO: Disable all elements while loading -->

<div class="flex flex-col gap-8 p-20">
   <app-trips-highlighted-trip />

   <div class="flex flex-row justify-between">
      <!-- PAGE-->
      <div class="w-2/3 flex flex-col gap-4">
         <!-- PAGE HEADER -->
         <div class="flex flex-row justify-between items-center py-4 border-y-2 border-blue-900">
            <biz-input-search (searchValueChange)="updateSearch($event)" />

            <biz-sort
               [sortOption]="sortOption()"
               [sortDirection]="sortDirection()"
               [sortOptions]="SORT_OPTIONS"
               (sortOptionChange)="updateSortOption($event)"
               (sortDirectionChange)="updateSortDirection($event)"
            />
         </div>

         <!-- PAGE CONTENT -->
         <div class="flex flex-col gap-6">
            @if (status() === PAGE_STATUS.VALID) {
               @for (trip of items(); track trip.id) {
                  <app-trips-row [trip]="trip" />
               }
            } @else if (status() === PAGE_STATUS.LOADING) {
               <biz-loading-spinner />
            } @else {
               Ups... something went wrong.
            }
         </div>

         <!-- PAGE FOOTER -->
         <biz-paginator
            [pageIndex]="pageIndex()"
            [pageSize]="pageSize()"
            [totalItems]="totalItems()"
            (pageIndexChange)="updatePageIndex($event)"
            (pageSizeChange)="updatePageSize($event)"
         />
      </div>

      <!-- FILTERS -->
      <app-trips-filter (filterChange)="updateFilter($event)" />
   </div>
</div>
