<div class="flex flex-col gap-2 border-2 border-blue-900 rounded-xl p-4 hover:shadow-lg transition-all">
   <div class="flex flex-row gap-2">
      <img [src]="trip.thumbnailUrl" [alt]="trip.title" style="height: 150px; width: 150px; object-fit: cover" />

      <div class="w-full flex flex-col justify-between">
         <h1>{{ trip.title }}</h1>

         <biz-tag-list [tags]="trip.tags" />

         <div class="flex flex-row justify-end">
            <h2>{{ trip.price | currency: 'EUR' : undefined : undefined : 'es' }}</h2>
         </div>
      </div>
   </div>
   <biz-star-rating [rating]="trip.rating" [totalReviews]="trip.nrOfRatings" />
</div>
